
.app {
    min-height: 100vh;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 2px solid #5ac191;
    border-radius: 10px;
    text-align: center;
    background-color: #2c2b2b;

}

.counterScreen {
    border: 2px solid #5ac191;
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 70px;
    font-weight: bold;
    color: #5ac191;

}

.buttonsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border: 2px solid #5ac191;
    border-radius: 10px;
    padding: 20px;
}

.button {
    color: #2c2b2b;
    background-color: #5ac191;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.35;
}

.maxValue {
    color: red;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    border: 2px solid #5ac191;
    padding: 30px 20px;
    border-radius: 10px;
}

.labelInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.labelInput + .labelInput {*/
/*    margin-top: 20px;*/
/*}*/

.label {
    font-size: 24px;
    font-weight: bold;
    color: #5ac191;
}

.input {
    max-width: 100px;
    font-size: 16px;
    padding: 2px 2px 2px 14px;
    text-align: center;
    border: 3px solid #5ac191;
    border-radius: 5px;
    outline: none;
    vertical-align: middle;
    line-height: 1.5;
}

